div.div-error {
	font-family:sans-serif; font-size:24; color:red; background-color:white;
	display:inline-block;
}

div.header {
	margin-bottom: 20px;
}

div.footer {
	margin-top: 20px;
}

div.nrcLogo {
	margin-bottom: 20px;
}

h1 {
    text-align:center;
}

input#request {
    width:350px;
}

div.hitDiv {
    margin-bottom:16px;
}

div.hitSnippet {
    font-size:0.9em;
}

div#div-total-hits {
	margin-bottom:12px;
}

.hitTitle a {
    color:#3377ff;
    font-size:1.2em;
    text-decoration:none;
    cursor:pointer;
}

.hitURL a {
    color:#00b300;
    font-size:1.1em;
    text-decoration:none;
    cursor:pointer;
}


div.hit {
    margin-bottom:16px;
}

div.hit-disp {
    margin-bottom:3px;
}

div.hit-disp.title {
    margin-bottom:0px;
}

/* LINKS TO PAGES OF HITS */
div#links-to-pages {
	display:none;
	margin:auto;
    margin-top:8px;
    margin-bottom:8px;
    text-align:center;
    font-size:1.2em;
}

div#page-numbers {
	display:inline;
}

div#links-to-pages div#links {
    display:inline;
}

input.page-number {
    display:inline-block;
    text-align:center;
    width:35px;
    border:1px solid #cccccc;
}

input.page-number.current-page {
    color:#ff0000;
    font-weight:bold;
    border:1px solid red;
}

button, input[type=button] {
	cursor:pointer;
}

button:disabled, input[type=button]:disabled {
	cursor:default;
	color:#cccccc;
}

/* HITS */
div#hits {
	display:none;
}

div#nb-hits {
	font-size:1.1em;
    margin-bottom:12px;
}

span#plural {
	display:none;
}

/* Gist Text */

.iu-word {
	cursor:pointer;
	font-family:serif;
	font-size:20px;
}
.iu-word:hover {
	color:red;
	text-decoration:underline;
}

/* Word Dictionary */

.clickable-word-lookup {
    cursor:pointer;
    font-family:serif;
    font-size:20px;
}
.clickable-word-lookup:hover {
    color:red;
    text-decoration:underline;
}


/* OCCURRENCES */
.word-example {
	cursor:pointer;
	font-family:serif;
	font-size:20px;
}
.word-example:hover {
	color:red;
	text-decoration:underline;
}

table.gist, table.alignments {
	margin-top:5px;
}
table.alignments td {
	word-wrap:break-word;
}
table.gist td {
	background-color:#e6e6ff;
}
table.gist th, table.gist td,
table.alignments th, table.alignments td {
	border:1px solid black;
	padding:3px;
	vertical-align:top;
}
table.alignments th {
	width:49%;
}

/* SPELL CHECKER */

main#spell-checker {
	font-size: 20px;
}

textarea#txt-to-check {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	height:200px;
	width:650px;
}

div.corrections span.selected {
	cursor: pointer;
}

div#div-checked div#title-and-copy,
div#div-checked div#results {
	display: none;
}
div#div-checked div#title-and-copy h2 {
	display:inline-block;
}
div.corrections {
	display:inline-block;
	color:black;
	vertical-align:top;
}
div.corrections span {
	display:none;
	width:100%;
}
div.corrections span.selected {
	display:block;
	text-decoration:underline;
}

button#btn-copy {
	display:none;
}

span.additional input {
	width:98%;
	padding:1%;
}

/* MORPHEME SEARCH */

.word-example.selected {
	color:red;
	text-decoration:underline;
	font-weight:bold;
}

/* GIST */

div#gist-decompositions { margin-bottom:15px; }
div#gist-decompositions table { font-family:Arial; border:2px solid green; padding:5px; margin-bottom:15px; }
div#gist-decompositions table td { border:1px solid black; padding:3px; }
div#gist-decompositions table tr.root { font-weight:regular; color:blue; }

div#gist-alignments span.highlighted { font-weight:bold; color:red; }

/* GISTTEXT */

#div-wordentry {
	position:fixed;
	top:40px;
	width:600px;
	height:600px;
	right:100px;
	display:none;
	border:1px solid black;
	border-radius:3px;
	padding:5px;
}
#div-wordentry-holder { font-weight:bold; color:white; background-color:green; padding-left:6px; }
#div-wordentry #div-wordentry-iconizer {
	background-color:white;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	vertical-align:middle;
}
#div-wordentry #div-wordentry-iconizer img {
	vertical-align:middle;
}
#div-wordentry #div-wordentry-contents {
	overflow-y: scroll;
	height:577px;
	margin-top:5px;
}
#div-wordentry-iconized {
	position:fixed;
	text-align:center;
	right:0;
	bottom:0;
	width:30px;
	height:30px;
	line-height:30px;
	background-color:#ccccff;
	border:1px solid black;
	display:none;
	cursor:pointer;
}
#div-wordentry-iconized img {
	vertical-align:middle;
}

strong{
    font-weight:bold;
    color:#03a5fc
}
