iutools-data/data/tries

**/.~lock.*
.DS_Store
/.settings/
/.metadata/
/target/
/.classpath
/.project

/bin/

/iutools-core/.settings/
/iutools-core/target/
/iutools-core/.classpath
/iutools-core/.project
/iutools-core/bin/
/iutools-core/.metadata/

/iutools-apps/.settings/
/iutools-apps/target/
/iutools-apps/.classpath
/iutools-apps/.project
/iutools-apps/bin/
/iutools-apps/.metadata/

/iutools-data/.settings/
/iutools-data/target/
/iutools-data/.classpath
/iutools-data/.project
/iutools-data/bin/
/iutools-data/.metadata/

/.idea/
/iutools.iml

**/foo*.txt
**/*.java.NEW
/TODOs.txt
