/HansardCorpus-trie_compilation.json
/HansardCorpus-trie_compilation.log
/HansardCorpus-trie_dump.txt
/HansardCorpus1-trie_compilation.json
/HansardCorpus2-trie_compilation.json
/HansardCorpus3-trie_compilation.json
/Hansard2002-trie_compilation.log
/Hansard2002-trie_dump.txt
/temp/
/classpath
/webitext.log
/failedwords.txt
/grepNombres.php
/footest.txt
/iutools-core.iml
/.idea/
/target/
/foo*.txt
/src/test/resources/org/iutools/loganalysis/samplelogs/jmeter.log
/dependency-reduced-pom.xml
