<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>iutools</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!--  Search Endpoint -->
	<servlet>
	   <servlet-name>SearchEndpoint</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.SearchEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>SearchEndpoint</servlet-name>
		<url-pattern>/srv/search/*</url-pattern>
	</servlet-mapping>	

	<!--  Spell Endpoint -->
	<servlet>
	   <servlet-name>SpellEndpoint</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.SpellEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>SpellEndpoint</servlet-name>
		<url-pattern>/srv/spell/*</url-pattern>
	</servlet-mapping>	
	
	<!-- GistBF Endpoint -->
	<servlet>
	   <servlet-name>GistBFEndpoint</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.GistBFEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GistBFEndpoint</servlet-name>
		<url-pattern>/srv/gistbf/*</url-pattern>
	</servlet-mapping>	



	
	<!-- Occurrence Search Endpoint -->
	<servlet>
	   <servlet-name>OccurenceSearchEndpoint</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.OccurenceSearchEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>OccurenceSearchEndpoint</servlet-name>
		<url-pattern>/srv/occurrences/*</url-pattern>
	</servlet-mapping>	

	<!-- Gist Search Endpoint -->
	<servlet>
	   <servlet-name>GistEndpoint</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.GistEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GistEndpoint</servlet-name>
		<url-pattern>/srv/gist/*</url-pattern>
	</servlet-mapping>	

	<!--  Test UTF8 chars -->
	<servlet>
	   <servlet-name>HelloWorld</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.HelloWorld
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/srv/hello/*</url-pattern>
	</servlet-mapping>	
</web-app>