div.header {
	margin-bottom: 20px;
}

div.footer {
	margin-top: 20px;
}

div.nrcLogo {
	margin-bottom: 20px;
}

h1 {
    text-align:center;
}
input#request {
    width:350px;
}

a.hit-title {
    color:#3377ff;
    font-size:1.2em;
    text-decoration:none;
    cursor:pointer;
}
a.hit-url {
    color:#00b300;
    font-size:1.1em;
    text-decoration:none;
    cursor:pointer;
}
a.hit-snippet {
    font-size:0.9em;
}
div.hit {
    margin-bottom:16px;
}
div.hit-disp {
    margin-bottom:3px;
}
div.hit-disp.title {
    margin-bottom:0px;
}

/* LINKS TO PAGES OF HITS */
div#links-to-pages {
	display:none;
	margin:auto;
    margin-top:8px;
    margin-bottom:8px;
    text-align:center;
    font-size:1.2em;
}
div#page-numbers {
	display:inline;
}
div#links-to-pages div#links {
    display:inline;
}
input.page-number {
    display:inline-block;
    text-align:center;
    width:35px;
    border:1px solid #cccccc;
}
input.page-number.current-page {
    color:#ff0000;
    font-weight:bold;
    border:1px solid red;
}
button, input[type=button] {
	cursor:pointer;
}
button:disabled, input[type=button]:disabled {
	cursor:default;
	color:#cccccc;
}

/* HITS */
div#hits {
	display:none;
}
div#nb-hits {
	font-size:1.1em;
    margin-bottom:12px;
}
span#plural {
	display:none;
}
