/footest.txt
/target/
/iutools-apps.iml
/src/test/resources/ca/pirurvik/iutools/webservice/jmeter.log
/src/test/resources/org/iutools/webservice/jmeter.log
/src/test/jmeter/reports/
/src/test/jmeter/jmeter.log
/src/test/jmeter/Test.jtl
/src/main/webapp/iutools_ Test JSP page.html
/jmeter.log
/src/test/jmeter/testresults.jtl
/logs/

# Files for customizing the skin of the web apps.
# Those files should NEVER be tracked by git.
/src/main/webapp/pages/common/_customSkin.jsp
/src/main/webapp/css/custom-styles.css
