<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>iutools</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!--  Search Endpoint -->
	<servlet>
	   <servlet-name>SearchEndpoint</servlet-name>
	   <servlet-class>
		   org.iutools.webservice.SearchEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>SearchEndpoint</servlet-name>
		<url-pattern>/srv/search/*</url-pattern>
	</servlet-mapping>	

	<!--  Spell Endpoint -->
	<servlet>
	   <servlet-name>SpellEndpoint</servlet-name>
	   <servlet-class>
		   org.iutools.webservice.SpellEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>SpellEndpoint</servlet-name>
		<url-pattern>/srv/spell/*</url-pattern>
	</servlet-mapping>	
	
	<!--  Tokenize Endpoint -->
	<servlet>
	   <servlet-name>TokenizeEndpoint</servlet-name>
	   <servlet-class>
		   org.iutools.webservice.tokenize.TokenizeEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>TokenizeEndpoint</servlet-name>
		<url-pattern>/srv/tokenize/*</url-pattern>
	</servlet-mapping>	
	
	<!-- Occurrence Search Endpoint -->
	<servlet>
	   <servlet-name>OccurenceSearchEndpoint</servlet-name>
	   <servlet-class>
		   org.iutools.webservice.OccurenceSearchEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>OccurenceSearchEndpoint</servlet-name>
		<url-pattern>/srv/occurrences/*</url-pattern>
	</servlet-mapping>		

	<!-- GistPrepareContent Endpoint -->
	<servlet>
	   <servlet-name>GistPrepareContentEndpoint</servlet-name>
	   <servlet-class>
		   org.iutools.webservice.gist.GistPrepareContentEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GistPrepareContentEndpoint</servlet-name>
		<url-pattern>/srv/gist/preparecontent/*</url-pattern>
	</servlet-mapping>	


	<!-- GistWord Endpoint -->
	<servlet>
	   <servlet-name>GistWordEndpoint</servlet-name>
	   <servlet-class>
		   org.iutools.webservice.gist.GistWordEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GistWordEndpoint</servlet-name>
		<url-pattern>/srv/gist/gistword/*</url-pattern>
	</servlet-mapping>	
	

	<!-- Gist Endpoint -->
	<servlet>
	   <servlet-name>GistEndpoint</servlet-name>
	   <servlet-class>  
	     org.iutools.webservice.GistEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GistEndpoint</servlet-name>
		<url-pattern>/srv/gist/gist/*</url-pattern>
	</servlet-mapping>	
	

	<!-- GisterPrep Endpoint -->
	<!--<servlet>
	   <servlet-name>GisterPrepEndpoint</servlet-name>
	   <servlet-class>  
	     ca.pirurvik.iutools.webservice.GisterPrepEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GisterPrepEndpoint</servlet-name>
		<url-pattern>/srv/gistprep/*</url-pattern>
	</servlet-mapping>	
	-->

	<!-- GistText Endpoint -->
	<servlet>
	   <servlet-name>GistTextEndpoint</servlet-name>
	   <servlet-class>  
	     org.iutools.webservice.GistTextEndpoint
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>GistTextEndpoint</servlet-name>
		<url-pattern>/srv/gisttext/*</url-pattern>
	</servlet-mapping>	
	

	<!--  Test UTF8 chars -->
	<servlet>
	   <servlet-name>HelloWorld</servlet-name>
	   <servlet-class>  
	     org.iutools.webservice.HelloWorld
	   </servlet-class>
	</servlet> 
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/srv/hello/*</url-pattern>
	</servlet-mapping>	
</web-app>