<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>iutools</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!--
	This starts a background process that monitors and repairs the various
	ElasticSearch Indices that are used by iutools.

	For some reason that we don't yet understand, those indices can end up with
	some corrupted WordInfo records when too many concurrent web requests are
	made to iutools services.
	-->
	<listener>
		<listener-class>org.iutools.elasticsearch.ESRepairDaemon</listener-class>
	</listener>

	<!-- Entry point for all service endppoints -->
	<servlet>
		<servlet-name>EndpointDispatcher</servlet-name>
		<servlet-class>
			org.iutools.webservice.EndpointDispatcher
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EndpointDispatcher</servlet-name>
		<url-pattern>/srv2/*</url-pattern>
	</servlet-mapping>
</web-app>